#winners
	.jumbotron
		.container
			.row
				%h1.text-center The Satyaprit Das Memorial Scholarship
				#family-note.col-xs-12.col-sm-10.col-sm-offset-1
					%p Thank you to everyone who applied! We had numerous outstanding essays and enjoyed reading each and every one of them. Our selection panel decided on the following submissions to receive the 2014 Satyaprit Das Memorial Scholarship. Congratulations!
					%p#names - Jyoti, Susmita, and Sabya Das
	#winner-container
		.container
			.row
				.col-xs-12.col-sm-10.col-sm-offset-1
					%h2 2014 Scholarship Recipients
					%h3
						First Place: <span id="winner-name">Haroon Ghori</span>
					%p
						Haroon Ghori is the recipient of the First Place award, and will receive an academic scholarship of $1,500. Haroon will be attending Johns Hopkins University in the Fall of 2014, studying Biomedical Engineering. We wish Haroon our best in his future endeavors! View Haroon's essay by clicking the link below.
					%span#download=link_to 'View', 'https://s3-us-west-2.amazonaws.com/satyaprit-assets/Satyaprit+Memorial+Scholarship+-+First+Place+Submission.pdf', target: '_blank'
					%h3
						Second Place: <span id="winner-name">Alex Yun</span>
					%p
						Alex Yun is the recpient of the Second Place award, and will receive an academic scholarship of $500. Alex will be attending San Jose State University in the Fall of 2014, studying Business Administration and Management Information Systems. We wish Alex our best in his future endeavors! View Alex's essay by clicking the link below.
					%span#download=link_to 'View', 'https://s3-us-west-2.amazonaws.com/satyaprit-assets/Satyaprit+Memorial+Scholarship+-+Second+Place+Submission.pdf', target: '_blank'
