.red-link
	color: rgb(157,14,3) !important
	&:hover
		opacity: 0.75 !important
.red-color
	color: rgb(157,14,3) !important
#portrait
	img
		max-width: 150px
		border-radius: 50%
	margin: 25px
#form
	background: no-repeat center center
	background-size: cover
	// background-image: image-url('background.jpg')
	min-height: 100%
	.jumbotron
		padding: 25px
		color: #666
		background-color: #f1f1f1
	#descriptions
		margin-bottom: 50px
	input
		&[type="text"], &[type="string"]
			min-height: 50px
			font-size: 14pt
			width: 100%
	textarea
		font-size: 14pt
		width: 100%
		min-height: 200px
	input, textarea
		border: none
		border-bottom: 4px #666 solid
		padding-left: 5px
		//background-color: #f1f1f1
		color: #666
		margin-bottom: 4px
		&:focus
			outline: none
			border-radius: 0px
			border-bottom: 4px #000 solid
		&[type="submit"]
			background-color: #666
			color: #f1f1f1
			border-bottom: none
			padding: 5px 10px 5px 10px
			border-radius: 0px 10px 0px 10px
			&:hover
				background-color: #888
			margin-bottom: 25px
	#input-left
		padding-right: 2px
	#input-right
		padding-left: 2px
	.header
		display: inline-block
		width: auto
		color: #666
		h4
			margin-top: 0px
		h3
			margin: 0px
		h5
			margin-top: 10px
		a
			color: #999
			&:hover
				color: black
		p
			text-align: justify
::-webkit-input-placeholder
	color: #666

\:-moz-placeholder
	color: #666

::-moz-placeholder
	color: #666

\:-ms-input-placeholder
	color: #666
